.footer-banner-container {
      padding         : 100px 40px;
      background-color: #f02d34;
      border-radius   : 15px;
      position        : relative;
      height          : 400px;
      line-height     : 1;
      color           : white;
      width           : 100%;
      margin-top      : 120px;
}

.banner-desc {
      display        : flex;
      justify-content: space-between;
}

.banner-desc button {
      border-radius   : 15px;
      padding         : 10px 16px;
      background-color: white;
      color           : red;
      border          : none;
      margin-top      : 40px;
      font-size       : 18px;
      font-weight     : 500;
      cursor          : pointer;
}

.banner-desc .left h3 {
      font-weight: 900;
      font-size  : 80px;
      margin-left: 25px;
}

.banner-desc .left p {
      margin: 18px;
      color : white;
}

.footer-banner-image {
      position    : absolute;
      max-width   : 30vmax;
      /* top      : -35%; */
      left        : 8%;
      top         : -25%;
      left        : 25%;
}

.banner-desc .right {
      line-height: 1.4;
}

.banner-desc .right h3 {
      font-weight: 800;
      font-size  : 60px;
}

.banner-desc .right p {
      font-size: 18px;
      color    : white;
}

.banner-desc .right .company-desc {
      font-size  : 14px;
      font-weight: 300;
}

@media screen and (max-width:800px) {

      .footer-banner-container {
            height    : 560px;
            margin-top: 80px;
      }

      .footer-banner-image {
            max-width: 15vmax;
            width    : 77%;
            left     : 30%;
            top      : 6%;
            height   : 56%
      }

      .banner-desc .left h3 {
            font-weight: 900;
            font-size  : 50px;
            margin-left: 5px;
      }

      .banner-desc .left p {
            margin: 18px;
      }

      .banner-desc .right h3 {
            font-size: 45px;
      }

      .banner-desc .right p {
            font-size: 18px;

      }

      .banner-desc .right .company-desc {
            font-size: 14px;
      }

      .banner-desc {
            flex-wrap: wrap;
            gap      : 20px;
      }
}

@media screen and (max-width: 500px) {
      .footer-banner-image {
            max-width: 28vmax;
            /* width : 77%; */
            left     : 40%;
            top      : 37%;
            height   : 44%;
      }
}